* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* root */
:root {
    --header-bg: #10375c;
}

/* ========== Common ==========  */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;

    display: inline-block;
    line-height: var(--height);
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 0 20px;
    height: var(--height);
    min-width: 205px;
    border-radius: 999px;
    background: #2e80ce;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}

.action {
    display: flex;
    column-gap: 18px;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575f66;
    border-radius: 50%;
    color: #575f66;
    background: #fff;
    outline: none;
    transition: 0.25s;
}

.action-btn:hover {
    cursor: pointer;
    background: #2e80ce;
    color: #fff;
    border: 1px solid #2e80ce;
}

.action-next {
    rotate: 180deg;
}

/* ========== Header ========== */
.header {
    min-height: 100vh;
    background: var(--header-bg);
    padding-top: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #ffffff;
}

.navbar__link--active::before {
    position: relative;
    content: "";
    display: inline-block;
    top: -2px;
    left: -8px;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
}

/* ========== Hero ========== */

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero-images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}

/* ========== service ========== */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    padding: 22px;
    width: 470px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service__icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    color: #10375c;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item:hover .service__icon {
    color: #fff;
    background: #2e80ce;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* ========== Work ========== */
.work {
    padding: 100px 0;
    background: #f7fbff;
}

.Work__desc {
    width: 468px;
}

.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-item {
    padding: 44px 42px;
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: #2e80ce;
}

.work-item__heading {
    margin-top: 20px;
    font-weight: 600;
    font-size: 2.6rem;
    color: #10375c;
}

.work-item__desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}

/* ========== Feature ========== */

.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__innir {
    display: flex;
    align-items: center;
    gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* ========== Member ========== */

.member {
    padding: 85px 0;
    text-align: center;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 19px;
    margin-top: 70px;
}

.member-item:hover .member-item__thump {
    transform: scale(1.1);
}

.member-item__img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}

.member-item__thump {
    transition: 0.25s;
    display: block;
    max-width: 100%;
    height: 290px;
    object-fit: cover;
}

.member-item__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}

.member-item__title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}

.member__action {
    margin-top: 38px;
    justify-content: center;
}

/* ========== Install ========== */

.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    align-items: center;
    background: #2e80ce;
    border-radius: 4px;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__row {
    margin-top: 38px;
    column-gap: 28px;
    display: flex;
}

/* ========== News ========== */

.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    flex-shrink: 0;
}

.news__heading {
    max-width: 470px;
}

.news__more {
    display: inline-block;
    margin-top: 28px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.56;
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: #10375c;
}

.news__action {
    margin-top: 28px;
}

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    flex: 1;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.25s;
}

.news-item:hover {
    box-shadow: 0px 18px 50px rgba(0, 0, 0, 0.05);
}

.news-item:hover .news-item__body {
    border-color: #fff;
}

.news-item__thump {
    display: block;
    width: 100%;
    height: 172px;
}

.news-item__body {
    padding: 24px 24px 16px;
    border: 1px solid #e8ebee;
    border-radius: 0 0 12px 12px;
    border-top: none;
    background: #fff;
    transition: 0.25s;
}

.news-item__heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #10375c;
}

.news-item__desc {
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #575f66;
}

.news-item__more {
    display: block;
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #10375c;
}

.news-item__more:hover {
    color: #2e80ce;
}

/* ========== Appointment ========== */

.appointment {
    margin: 85px 0 170px;
}

.appointment__inner {
    text-align: center;
    padding: 100px 70px;
    background: #f7fbff;
}

.appointment__heading {
    position: relative;
    padding-bottom: 18px;
}

.appointment__heading::after {
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
}

.appointment__desc {
    max-width: 617px;
    margin: 18px auto 38px;
    font-size: 1.6rem;
}
